<!--
Team Cows Go Moo :: Stella Oh, Winnie Huang, Helena Williams, Constance Chen
Softdev Pd 1
P5: This is the End
2021-05-24
-->

<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- css -->
        <link rel="stylesheet" href="../static/css/styles.css">

        <title>CoolCode Games</title>
    </head>

    <body>
        <h1>CoolCode Games</h1>
        <!-- Nav Bar -->
        
        <nav class="navbar navbar-expand navbar-light bg-light">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="g1">Memory Game</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="g2">Color Match</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="g3">Wii Play Ripoff</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="g4">Hangman</a>
                </li>
              </ul>
            </div>
        </nav>

        <h2 id="name">Memory Game!</h2>
        <p>
            Instructions: Memorize the blue tiles presented to you.
            When you think you're ready, press "clear" and replicate by clicking the tiles to turn them blue.
            (Be careful, you can't undo your chose!)
            If you think you have it correct, press done to assess your answer.

            {% for points in g1Scores %}
            ""{{points}}""
            <hr class="my-4">
            {% endfor %}
        </p>
            <div>
                <canvas height="600" width="600" id="slate">
                dis dat alt txt tho
                </canvas>
            </div>
            <br>
            <button id = "clear"> Clear</button>
            <button id = "done">Done</button>
            <button id = "reset">Reset</button>


        <!-- Optional JavaScript -->
        <script type="text/javascript" src="../static/js/game1.js"></script>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>
</html>
